.header {
	margin: 15rem auto;
	width: 22rem;
}

.hello {
	font-size: 2rem;

	h1 {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: inherit;
	}
}

.role {
	font-size: 1.2rem;
	margin-top: 3rem;
	line-height: 2.4rem;

	em {
		background: black;
		color: white;
		padding: 0.25rem 0.5rem;
		border-radius: 4px;
		white-space: nowrap;
		font-style: normal;
		font-weight: 400;

		font-smooth: grayscale;
		-moz-osx-font-smoothing: grayscale;
	}
}
